@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;

    --card: 220 14% 96%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 215 25% 27%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 14% 96%;
    --muted-foreground: 220 8% 46%;

    --accent: 262 83% 58%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 221 83% 53%;

    --radius: 0.2rem;

    --success: 160 84% 39%;
    --warning: 38 92% 50%;
    --error: 0 84% 60%;
  }

  [data-theme='dark'] {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 224 71% 6%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 215 25% 27%;
    --secondary-foreground: 210 40% 98%;

    --muted: 223 47% 11%;
    --muted-foreground: 215 20% 65%;

    --accent: 262 83% 58%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 224 76% 48%;

    --success: 160 84% 39%;
    --warning: 38 92% 50%;
    --error: 0 74% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply min-h-[100vh];
    @apply flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

